@font-face {
  font-family: "Pixel";
  font-display: swap;
  src: url("../fonts/16796.woff") format("woff"), url("../fonts/16796.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

header {
  font-family: Pixel, sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 20px;
}

.btls-text {
  text-align: center;
  color: blue;
}

.btls-text__title {
  font-size: 150px;
  text-transform: uppercase;
  margin: 0;
}

.btls-text__subtitle {
  font-size: 50px;
  margin: 0;
}

.board {
  position: relative;
  width: 1024px;
  height: 863px;
  margin: 0 auto;
  background-image: url(../img/board.jpg);
  background-repeat: no-repeat;
}

.board__message {
  position: absolute;
  top: 0;
  left: 0;
  color: #53af13;
  font-family: 'Times New Roman', serif;
  font-size: 30px;
  text-transform: uppercase;
}

.gamearea {
  position: absolute;
  left: 173px;
  top: 98px;
  border-spacing: 0px;
}

.gamearea__cell {
  width: 94px;
  height: 94px;
}

.value-entry-area {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  background-color: #53af13;
}

.value-entry-area__input {
  background-color: #98cf71;
  border-color: #53af13;
  font-size: 1em;
  text-transform: uppercase;
}

.btn {
  cursor: pointer;
  text-transform: none;
}

.hit {
  background-image: url(/src/img/ship.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.miss {
  background-image: url(/src/img/miss.png);
  background-repeat: no-repeat;
  background-position: center center;
}

body {
  background-color: #000000;
}

.webp .board { background-image: url(../img/board.webp); }

.webp .hit { background-image: url(/src/img/ship.webp); }

.webp .miss { background-image: url(/src/img/miss.webp); }